:root {
    --brand-background-primary:#E7E9FC;
    --brand-background-secondary: #2E2F42;
    --brand-background-third:#F4F4FD;
    --brand-button-primary:#4D5AE5;
    --brand-button-secondary:#E7E9FC;
    --brand-text-primary:color: #2E2F42;
    --brand-text-secondary:#434455;
    --main-hover-color: #4D5AE5;
    --main-hover-text-color: #FFFFFF;
    --main-font-size: 16px;
    --main-line-height: 1.5;
    --main-logo-color: #4d5ae5;
    --hover-focus-color: #404bbf;
    --header-color: #2e2f42;
    --text-color: #434455;
}
/* start global reset */
h1,h2,h3,h4,h5,h6,
p {
        margin: 0;
        padding: 0;
}
* {
        margin: 0;
        padding: 0;
}
ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
}
*,
*::before,
*::after {
        box-sizing: border-box;
}

/* end global reset */

a {
        text-decoration: none;
}

/* start header section */

.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}
.navigation-panel .contact.link:hover,
.navigation-panel .contact.link:focus {
        color: #404bbf;
}
.navigation-panel .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
}
.navigation-panel{
        margin-left: 156px;
        margin-top: 24px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--brand-background-primary: #E7E9FC);
        }

.navigation-panel .address {
        font-style: normal;
        color: #2e2f42;
}
.logo:visited {
        color:#2E2F42;
}
.menu {
        color:var(--brand-text-primary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        letter-spacing: 0.02;
}
.contact {
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02;
        color:var(--brand-text-secondary);
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
}
.logo-span{
        color: var(--main-logo-color);
}
.logo-bottom-span{
        color:#FFFFFF
}
.menu.link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        text-decoration: none;
        display: inline;
}
.list a:hover {
        color: var(--hover-focus-color);
}
.list a:focus {
        color: var(--hover-focus-color);
}
.menu :hover,
.menu :focus {
        color: #404bbf;
}
.list{
        list-style: none;
        display: flex;
        gap:40px; 
        padding:24px 40px;
}
/* end header section */

/* start main section*/

.button-portfolio:hover,
.button-portfolio:focus {
        color:#FFFFFF;
        background-color:#4D5AE5;
        cursor:pointer;
}
.panel-top {
        background-color: var(--brand-background-secondary);
        max-width: 1140px;
        height:600px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 188px 0 ;
        display: block;
}
.header-primary {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF;
        height: 120px;
        display:flex;
        display: block;
        max-width: 496px;
        margin: 0 auto;
}
.button-order {
        cursor: pointer;
        color:#FFFFFF;
        background-color: var(--brand-button-primary);
        font-family: "Roboto", sans-serif;
        display: inline;
        width:169px;
        height:56px;
        padding:16px;
        border-radius: 4px;
        background: var(--brand-button-primary);
        letter-spacing: 0.04em;
        display: block;
        margin: 48px auto;
}
.button-order:hover,
.button-order:focus {
        background-color:  #404BBF;
        color:white;
}      
.header-secondary {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        justify-content: center;
         margin-left: 156px;
         display:flex;
}
.list-secondary{
        padding-top: 52px;
        display: inline;
        margin: 0 auto;
        width: 1128px;
        height: 412px;
        margin: auto 156px;
        display: flex;
        justify-content:space-evenly;
}

.section-team{
        background-color: var(--brand-background-third);
}

.main-list-container{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 1128px;
        margin: 120px auto;
}
.main-list {
        width: 264px;
}

.main-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--header-color);
        padding-bottom: 8px;

        }
   
.text-body {
        color: var(--brand-text-secondary);
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        color: var(--text-color);
}
.button-portfolio {
        color: var(--brand-button-primary);
        background-color:#F4F4FD;
        border:1px solid var(--brand-button-secondary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        font-family:inherit;
        letter-spacing: 4%;
        display: inline;
}
ul {
        list-style:none;
        text-decoration: none;
}
.main-description {
        color:var(--text-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-team .container-secondary{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 1128px;
        margin-bottom: 120px;
        margin-top: 72px;
}


/* end main section*/

/* start footer section*/

.container-footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        max-width: 264px;
        height: 112px;
        padding-bottom:100px;
        flex-wrap: wrap;

}
.logo-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        gap: 16px;
}
.panel-footer {
        background-color: var(--brand-background-secondary);
        width: 1140px;
        height: 312px;
}.footer-text {
        color:#F4F4FD;
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
}



/* end footer section*/