:root {
    --brand-background-primary:#E7E9FC;
    --brand-background-secondary: #2E2F42;
    --brand-background-third:#F4F4FD;
    --brand-button-primary:#4D5AE5;
    --brand-button-secondary:#E7E9FC;
    --brand-text-primary:color: #2E2F42;
    --brand-text-secondary:#434455;
    --main-hover-color: #4D5AE5;
    --main-hover-text-color: #FFFFFF;
    --main-font-size: 16px;
    --main-line-height: 1.5;
    --main-logo-color: #4d5ae5;
    --hover-focus-color: #404bbf;
    --header-color: #2e2f42;
    --text-color: #434455;
}
/* start global reset */
h1,h2,h3,h4,h5,h6,
p {
        margin: 0;
        padding: 0;
}
* {
        margin: 0;
        padding: 0;
}
ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
}
*,
*::before,
*::after {
        box-sizing: border-box;
}

/* end global reset */

a {
        text-decoration: none;
}

/* start header section */

.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}
.navigation-panel .contact.link:hover,
.navigation-panel .contact.link:focus {
        color: #404bbf;
}
.navigation-panel .logo {
        font-family: "Raleway";
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
}
.navigation-panel{
         border-bottom: 1px solid var(--brand-background-primary);
}
.navigation-container{
        display: flex;
        align-items: center;
}
.nav{
        display: flex;
        align-items: center;
        margin-right: auto;
}

.navigation-panel .address {
        font-style: normal;
        color: #2e2f42;
}
.logo:visited {
        color:#2E2F42;
}
.menu {
        color:var(--brand-text-primary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        letter-spacing: 0.02;
}
.contact {
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02;
        color:var(--brand-text-secondary);
}
.contacts {
        margin-right: 332px;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
}
.logo-span{
        color: var(--main-logo-color);
}
.logo-bottom-span{
        color:#FFFFFF
}
.menu.link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        text-decoration: none;
        display: inline;
}
.list a:hover,
.list a:focus {
        color: var(--hover-focus-color);
}
.menu :hover,
.menu :focus {
        color: #404bbf;
}
.list{
        list-style: none;
        display: flex;
        gap:40px; 
        padding: 24px 0;
        margin: 0;
        margin-left: 76px;
}
/* end header section */

/* start main section*/

.panel-top {
        background-color: var(--brand-background-secondary);
        max-width: 1140px;
        height:600px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 188px 0 ;
        display: block;
}
.header-primary {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF;
        height: 120px;
        display:flex;
        display: block;
        max-width: 496px;
        margin: 0 auto;
}
.button-order {
        cursor: pointer;
        color:#FFFFFF;
        background-color: var(--brand-button-primary);
        font-family: "Roboto";
        width:169px;
        height:56px;
        padding:16px;
        border-radius: 4px;
        letter-spacing: 0.04em;
        display: block;
        margin: 48px auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;

}
.button-order:hover,
.button-order:focus {
        background-color:  #404BBF;
        color:white;
}      
.header-secondary {
        color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin: 0px;
        margin-bottom: 72px;
        }
.team-container{
        padding-top: 32px;
        padding-bottom: 32px;
}
.list-team{
        display: flex;
        gap: 24px;
        justify-content: center;
        margin: 0;
        padding: 0;
}
.list-secondary{
        display: flex;
        margin: 0 auto;
        gap:24px;
        justify-content: center;
}

.section-team{
        background-color: var(--brand-background-third);
        padding: 120px 0;

        
}
.feature-list {
        display: flex;
        gap: 24px;
        margin: 0px;
        padding: 0px
}
.feature {
        color: var(--header-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        margin-top: 0px;
  }
   
.feature-description {
        color: var(--brand-text-secondary);
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        color: var(--text-color);
        margin: 0px;
}
.section-feature{
        padding-top: 120px;
        padding-bottom: 120px;
}

/* start potfolio page*/

.portfolio-button-list{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 24px;
        list-style-type: none;
        margin-bottom: 72px;
        padding-left: 0px;
}
.portfolio-button {
        color: var(--brand-button-primary);
        background-color:var(--brand-background-third);
        border:1px solid var(--brand-button-secondary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        font-family:inherit;
        letter-spacing: 4%;
        border-radius: 4px;
        padding: 12px 24px;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        margin-bottom: 72px;
        margin-right:24px;
        
}
.portfolio-button:hover,
.portfolio-button:focus {
        color:#FFFFFF;
        background-color:#4D5AE5;
        margin-bottom: 72px;
        border-color:var(--hover-focus-color) ;
        cursor:pointer;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.portfolio-section{
        padding-top: 96px;
        padding-bottom: 120px;
}
.cards-list{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        margin: 0;
        padding: 0;
}
.cards-list li:hover{
        box-shadow: var(--portfolio-shadow);
        cursor: pointer;
}
.cards-list >li {
        flex-basis: calc((100% - 48px) / 3);
}
.cards-list img {
        display: block;
}
.card-description{
        background-color: #FFFFFF;
        border:1px solid var(--cornflower, #E7E9FC);    
        border-top:none;    
        padding: 32px 16px;
}

/*end portfolio page/
/* end main section*/
ul {
        list-style:none;
        text-decoration: none;
}
.main-description {
        color:var(--text-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-feature .container-secondary{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 72px;
        padding-top:0px
}
.section-secondary{
                margin-bottom: 120px;
}



/* start footer section*/

.container-footer{
        display:flex;
}
.panel-footer {
        background-color: var(--brand-background-secondary);
        padding: 100px 0;
}.footer-text {
        color:#F4F4FD;
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        width: 264px;
        margin: 0px;
        margin-top: 16px;
}



/* end footer section*/